---
import SwitchButton from "./SwitchButton";
---

<nav class="bp:pt-12 pb:px-4 md:mb-24 xs:mb-12 relative bg-black">
  <div
    class="flex bp:static xs:fixed xs:top-0 w-full xs:left-0 grow overflow-hidden md:flex-row xs:flex-col items-center md:justify-between xs:justify-start z-10 bp:bg-[transparent] bp:dark:bg-[transparent] xs:bg-txt xs:dark:bg-lprimary"
  >
    <div
      class="relative flex bp:flex-row xs:flex-col md:justify-start bp:justify-center font-poppins font-semibold text-white dark:text-txt w-full bp:p-0 xs:p-12"
    >
      <a
        class="lg:first:pl-0 bp:p-4 xs:text-2xl bp:text-base xs:text-semibold xs:pb-4 text-center"
        href="/">Home</a
      >
      <a
        class="lg:first:pl-0 bp:p-4 xs:text-2xl bp:text-base xs:text-semibold xs:pb-4 text-center"
        href="/projects">Projects</a
      >
      <a
        class="lg:first:pl-0 bp:p-4 xs:text-2xl bp:text-base xs:text-semibold xs:pb-4 text-center"
        href="/skills">Skills</a
      >
      <a
        class="lg:first:pl-0 bp:p-4 xs:text-2xl bp:text-base xs:text-semibold xs:pb-4 text-center"
        href="/contact">Contact</a
      >
    </div>
    <div>
      <SwitchButton client:load />
    </div>
  </div>
</nav>

<style></style>
